<hr class="line-break">
<footer>
    <p>growth++</p>
    <p>made with love by Paulina Lei.</p>
    <a class="link" href="https://www.yelp.com/user_details?userid=JChx-48PcGZjD1OE7O69VQ" target="_blank">
        <i class="fa fa-yelp fa-2x" aria-hidden="true"></i>
    </a>
    <a class="link" href="https://github.com/paulinalei" target="_blank">
        <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i>
    </a>
    <a class="link" href="https://www.linkedin.com/in/paulinalei" target="_blank">
        <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    </a>
    <a class="link" href="mailto:paulina.y.lei@gmail.com" target="_blank">
        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
    </a>
</footer>
