<div class="navigation">
  <ul>
    {% if page.url == '/' %}
      {% for node in site.pages %}
        {% if page.url contains node.url %}
            <li class="active"><a href="{{ site.baseurl }}{{ node.url }}" class="active">{{ node.title }}</a></li>
        {% else %}
            <li><a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endfor %}
        <li class="active"><a href="{{ site.baseurl }}{{ node.url }}" class="active">{{ node.title }}</a></li>
    {% else %}
        <li><a href="{{ site.baseurl }}/">home</a></li>
        {% for node in site.pages %}
            {% if node.url != '/' %}
                {% if page.url contains node.url %}
                    <li class="active"><a href="{{ site.baseurl }}{{ node.url }}" class="active">{{ node.title }}</a></li>
                {% else %}
                    <li><a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
  </ul>
</div>
<hr class="line-break">

