<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="http://paulinalei.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Paulina Lei | Developer" />
    <meta property="og:description" content="Paulina Lei is currently a senior at UCLA studying Mathematics of Computation."
    />
    <meta property="og:image" content="https://raw.githubusercontent.com/paulinalei/yoyo/master/assets/images/sharingimage.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:image:type" content="image/png" />

    <title>Paulina Lei | {% if page.title %}{{ page.title }}{% else %}{{ home.title }}{% endif %}</title>

    <link rel="stylesheet" href="{{ site.baseurl}}/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">

    <!-- JavaScript -->
    <!-- p5 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.js"></script>
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/e2df918b89.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Isotope -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
</head>
