$font-style: 'Scope One', serif;
$font-color-body: rgba(0, 0, 0, 1);
$font-color-link: rgba(25, 229, 120, 1);
$font-color-link-hover: rgba(25, 229, 170, 1);
$background-grid-color: rgba(234, 252, 239, 1);
$background-grid-color-hover: rgba(210, 252, 239, 1);
$background-code-color: rgba(227, 228, 229, 1);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
