$font-style: 'Scope One', serif;
$font-color-body: rgba(0, 0, 0, 1);
$font-color-link: rgba(25, 229, 138, 1);
$font-color-link-hover: rgba(25, 229, 138, 0.7);

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
