body {
  font-family: $font-style;
  color: $font-color-body;
}

a {
  text-decoration: none;
  font-family: $font-style;
  color: $font-color-link;
  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: $font-color-link-hover;
  }
}

code {
  background-color: $background-code-color;
  padding: 1px;
  border-radius: 2px;
}

.line-break {
  border: solid 1px $background-grid-color;
  width: 98%;
}

.navigation {
  width: 100%;
  display: block;
  z-index: 1;
  float: left;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      position: relative;
      padding: 0 15px;
    }
  }
}

.active {
  font-weight: bold;
  color: $font-color-link-hover;
}

.container-default {
  padding: 15px;
}

.container-home {
  padding-left: 15px;
  height: 83vh;
}

footer {
  font-size: 10px;
  line-height: 10px;
  bottom: 0;
  left: 0;
  padding-left: 15px;
  i {
    padding-right: 4px;
  }
}

/* home styling*/

.home {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  i {
    font-size: 20px;
    padding-right: 2px;
  }
}

.name {
  letter-spacing: 1px;
}

/* about styling */
.about-me {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.about-activities {
  h4 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  table {
    margin: 0 auto;
    td {
      padding: 5px;
    }
  }
}


/* portfolio styling */
.portfolio-buttons {
  text-align: center;
  button {
    text-transform: lowercase;
    padding: 5px;
    font-family: $font-style;
    font-size: 14px;
    color: $font-color-link;
    //background-color: white;
    border: 1px solid $font-color-link;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover {
      background-color: $background-grid-color-hover;
    }
  }
}

.portfolio-image {
  width: 100%;
}

.link {
  color: $font-color-link;
  text-decoration: none;
  &:hover {
    color: $font-color-link-hover;
    font-weight: bold;
  }
}

.grid {
  margin: 0 auto;
}

.grid-sizer {
  width: 20%;
}

.grid-item {
  width: 18%;
  margin: 1%;
  border: 1px solid $font-color-link;
  border-radius: 3px;
  &:hover {
    background-color: $background-grid-color-hover;
    img {
      opacity: 0.5;
    }
    .portfolio-tagline {
      color: $font-color-body;
    }
  }
}

.grid-item-content {
  padding: 1%;
  .portfolio-tagline {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    text-align: center;
  }
}

.portfolio-title {
  text-align: center;
}

.is-not-checked {
  background-color: white;
}

.is-checked {
  background-color: $background-grid-color-hover;
}

/* project specific styling */
.project-title {
  text-align: center;
}

.main-image {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.project-images {
  width: 40%;
  display: block;
  margin: 0 auto;
}

/* media queries */
@media (min-width: 300px) and (max-width: 740px) {
  /* portfolio styling */
  .grid-sizer {
    width: 50%;
  }
  .grid-item {
    width: 48%;
    margin: 1%;
  }
}
