body {
  font-family: $font-style;
  color: $font-color-body;
}

.line-break {
  border: solid 1px $background-grid-color;
  width: 98%;
}

.navigation {
  width: 100%;
  display: block;
  z-index: 1;
  float: left;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      position: relative;
      a {
        text-decoration: none;
        padding: 0 15px;
        font-family: $font-style;
        color: $font-color-link;
        &:hover {
          text-decoration: none;
          font-weight: bold;
          color: $font-color-link-hover;
        }
      }
    }
  }
}

.active {
  font-weight: bold;
  color: $font-color-link-hover;
}

.container-default {
  padding-left: 15px;
}

.container-home {
  padding-left: 15px;
  height: 83vh;
}

footer {
  font-size: 10px;
  line-height: 10px;
  bottom: 0;
  left: 0;
  padding-left: 15px;
  i {
    padding-right: 4px;
  }
}

/* home styling*/

.home {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  i {
    font-size: 20px;
    padding-right: 2px;
  }
}

.name {
  letter-spacing: 1px;
}

/* about styling */
.about-me {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.about-activities {
  table td {
    padding: 5px;
  }
}


/* portfolio styling */

.portfolio-buttons {
  text-align: center;
  button {
    text-transform: lowercase;
    padding: 5px;
    font-family: $font-style;
    font-size: 14px;
    color: $font-color-link;
    background-color: $background-grid-color;
    border: 1px solid $font-color-link;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover {
      background-color: $background-grid-color-hover;
    }
  }
}

.main-image {
  width: 100%;
}

.link {
  color: $font-color-link;
  text-decoration: none;
  &:hover {
    color: $font-color-link-hover;
    font-weight: bold;
  }
}

.element-item{
  position: relative;
  background-color: $background-grid-color;
  width: 300px;
  height: 300px;
  margin: 3px;
  padding: 5px;
  .portfolio-title, .portfolio-tagline {
    text-align: center;
  }
}

.element-item:hover {
  background-color: $background-grid-color-hover;
  img {
    opacity: 0.7;
  }
}

.project-images {
  width: 95%;
}
