body {
  font-family: $font-style;
  color: $font-color-body;
}

.navigation {
  width: 100%;
  display: block;
  z-index: 1;
  float: left;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      position: relative;
      a {
        text-decoration: none;
        padding: 0 15px;
        font-family: $font-style;
        color: $font-color-link;
        &:hover,
        &active, {
          text-decoration: none;
          color: $font-color-link-hover;
        }
      }
    }
  }
}

.container {
  display: block;
  position: absolute;
}

footer {
  font-size: 10px;
  line-height: 10px;
  bottom: 0;
  left: 0;
  position: fixed;
  padding-left: 10px
}


/* portfolio styling */
.main-image {
  width: 50%;
}

.link {
  color: $font-color-link;
  text-decoration: none;
  &:hover {
    color: $font-color-link-hover;
  }
}